<div class="socialmediaicons">
  <% social.forEach(function(item) { %>
      <a href="<%= item.url %>"><img class="icon" src="<%= item.img %>" alt="icon for <%= item.shortname %>"></a>
    <% }); %>
</div>
