<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body>
<% include partials/page/header.ejs %>

<div class="container">
  <h1><%= title %></h1>

  <p><%= desctiption %></p>
  <%= gitHub %>
  <p><%= demo %></p>
</div><!-- container -->

  <% include partials/page/footer.ejs %>
</body>
</html>
